.app {
  margin: 0 auto;
  padding: 50px;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 12px;
}

table thead {
  background-color: lightgray;
}

table td {
  border: 1px solid black;
  padding: 5px;
}

table td.hidden {
  max-width: 20px;
}

table td.hidden span,
table td.hidden select {
  display: none;
}

